.App {
  text-align: center;
  background-color:black;
}

.header {
  background-color:rgb(58, 58, 207);
  min-height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 2vmin);
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: rgb(178, 240, 64); 
  letter-spacing: 5px;
}

