.App {
  text-align: center;
}

.header {
  background-color:rgb(58, 58, 207);
  min-height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 2vmin);
  font-family:Georgia, 'Times New Roman', Times, serif;
  color:yellow; 
  letter-spacing: 5px;
  padding-bottom: 2px;
  margin-bottom: 2px;
}

